body{
	font-family:SimSun-ExtB;
}

.pics{
	margin-left:150px;
}

.title{
	font-size:50px;
	text-align:center;
}
.places{
	font-size:35px;
{
#lamesa{
	font-size:100px;
	color:blue;
}
.para{
	margin:200px 0px;
}
